* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    outline: none;
    border: unset;
    cursor: pointer;
}

:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
}

.iris {
    color: var(--iris);
}

.nav-logo {
    font-family: 'raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1em;
}

.nav-link {
    color: var(--navyblue);
    font-size: 16px;
    line-height: 1.5em;    
}

.address-link {
    color: var(--slate, #434455);
    font size: 16px;
    line height: 1.5em;
}

.section-hero {
    background-color: #2E2F42;
    height: 600;
    width: 1440;
}

.hero-title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'roboto';
    font size: 56px;
    line height: 3.15em;
}

.hero-button {
    color: white;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5em;
}

.features-item-title {
    font size: 20px;
    line height: 1.25em;
    color: #2E2F42;
}

.features-item-description {
    font-size: 16px;
    line-height: 1.5em;
    color: #434455;
}

.services-title {
    font size: 36px;
    text-align: center;
    line height: 2.25em;
    color: #2E2F42;
}

.team-title {
    font size: 36px;
    text-align: center;
    line height: 2.25em;
    color: #2E2F42;
}

.team-item-name {
    font size: 20px;
    line height: 1.5em;
    color: #2E2F42;
}

.team-item-position {
    font size: 16px;
    line height: 1.5em;
    color: #434343;
}

.footer-description {
    font size: 16px;
    line height: 1.5em;
    color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
    height: 312;
    width: 1440;
}

.filter-button-active {
    font font-family: 'roboto';
    font size: 16px;
    font weight: 500;
    line height: 1.5em;
    color: #4D5AE5;
    border: none;
    display: inline-block;
    background color: #404BBF;
}
    
.filter-button {
    font font-family: 'roboto';
    font size: 16px;
    font weight: 500;
    line height: 1em;
    color: #4D5AE5;
    border: none;
    display: inline-block;
    background color: #F4F4FD;
}

.project-item-name {
    font size: 20px;
    line height: 1.5em;
    color: #2E2F42;
}

.project-item-type {
    font size: 16px;
    line height: 1.5em;
    color: #434455;
}





