* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    outline: none;
    border: unset;
    cursor: pointer;
}

:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
}

.iris {
    color: var(--iris);
}

.nav-logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.125em;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
}

.nav-link {
    color: var(--navyblue);
    font-size: 16px;
    line-height: 1.5em;    
}

.address-link {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5em;
}

.section-hero {
    background-color: #2E2F42;
    height: 600;
    width: 1440;
}

.hero-title {
    text-align: center;
    color: var(--white);
    font size: 56px;
    line height: 1.07em;
}

.hero-button {
    font-weight: 500;
    color: white;
    font-size: 16px;
    line-height: 1.5em;
    border-radius: 4px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
}

.features-item-title {
    font-size: 20px;
    font-style: normal;
    line height: 1.25em;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}

.features-item-description {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
    color: var(--slate);
    letter-spacing: 0.32px;
}

.services-title {
    font size: 36px;
    text-align: center;
    line height: 2.25em;
    color: var(--navyblue);
    text-transform: capitalize;
}

.services-item-image {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: 300px;
    border: 1px solid var(--cornflower);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;

}

.team-title {
    font size: 36px;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    line height: 2.25em;
    color: var(--navyblue);
    letter-spacing: 0.72px;
}

.team-item-name {
    font size: 20px;
    font-style: normal;
    text-align: center;
    line height: 1.5em;
    color: #2E2F42;
    letter-spacing: 0.4px;
}

.team-item-position {
    font size: 16px;
    font-style: normal;
    text-align: center;
    line height: 1.5em;
    color: var(--slate);
    letter-spacing: 0.32px;
}

.team-item-image {
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.footer-description {
    font size: 16px;
    font-style: normal;
    width: 264px;
    line height: 1.5em;
    color: var(--cloud);
    letter-spacing: 0.32px;
}

.footer {
    background-color: #2E2F42;
    height: 312;
    width: 1440;
}

.footer-logo {
    display: inline-flex;
    width: 71px;
    height: 21px;
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.125em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.filter-button-active {
    display: inline-block;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--white);
    text-align: center;
    font-family: 'roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}
    
.filter-button {
    display: inline-block;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    color: var(--iris)
    text-align: center;
    font-family: 'roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}

.project-item-name {
    color: var(--navyblue) 
    font-size: 20px;
    font-style: normal;
    line-height: 1.25em;
    letter-spacing: 0.4px;
}

.project-item-type {
    color: var(--slate)
    font-size: 16px;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.32px;
}

.project-item-image {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;

}




